name: Deploy Backend

on:
  workflow_run:
    workflows: ["Deploy to Railway"] # This must match the name in deploy.yml
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    # This prevents deployment if the build/push workflow failed
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Deploy to Railway
        uses: bervProject/railway-deploy@main
        with:
          railway_token: ${{ secrets.RAILWAY_TOKEN }}
          service: backend
          image: ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-health-app:latest