name: Push to Staging
on:
  push:
    branches: [ staging ]

jobs:
  deploy-to-main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
      
      - name: Build & Run All Tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest
        env:
          DATABASE_URL: ${{ secrets.DB_CONNECTION_STAGING }}

      - name: Merge to Main
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin main
          git checkout main
          git merge staging --no-edit
          git push origin main